body{
    background-color: #212529;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
}
.card_space{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.card_base{
    display: flex;
    border: 1px solid white;
    inline-size: 73%;
    margin: 20px;
    border-radius: 8px ;
    padding: 20px ;
}
.card_head{
    display: flex;
    padding: 20px ; 
}
.validate{
    display: flex;
    text-align: center;
    justify-content: center;
    inline-size: 200px;
    block-size: 50px;
    padding: 5px;
    background-color: #CCCCCC;
    border-radius: 8px;
    color : #212529;
    border: none;
    margin-top: 20px;
}
.div-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8px;
    inline-size: 73%;
}
textarea{
    display: flex;
    background-color: #212529;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    inline-size: 73%;
    min-height: 200px;
    padding: 15px;
}
.form{
    display: flex;
    inline-size: 100% ;
    flex-direction: column;
    align-items: center;
}
.div-form1{
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    align-items: center;
}
.card_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titre{
    display: flex;
}
.date{
    display: flex;
}
.card_container{
    margin : 20px;
}

