.publish_question{
    border: 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.div-form{
    display: flex;
    margin: 24px 80px;
    flex-direction: column;
}
.div-form2{
    display: flex;
    justify-content: flex-start;
    margin: 24px 80px;
    flex-direction: row;
    gap:20px;
}
.validate{
    display: flex;
    inline-size: 200px;
    block-size: 60px;
    background-color: #212529;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    color: #CCCCCC;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}
.validate:hover{
    opacity:0.8;
}
.back{
    display: flex;
    inline-size: 200px;
    block-size: 60px;
    background-color: #212529;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    color: #CCCCCC;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    align-items: center;
}
.back:hover{
    opacity:0.8;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212529;
    color : white;
    font-size: 18px;
}
textarea{
    background-color: #CCCCCC;
    padding : 15px;
    min-height: 200px;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    resize:none;
}
.question_head{
    background-color:#CCCCCC;
    padding : 15px;
    display: flex;
    font-size: 15px;
    border: 1px solid #CCCCCC;
}
label{
    margin-bottom: 7px;
}
.selection{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.1s all linear;
    text-align: center;
}
.selection:checked{
    border: 4px solid white;
}
.global{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}
.whole{
    display: flex;
    flex-direction: row;
    gap:18px;
}
.div-form3{
    display: flex;
    margin: 24px 80px;
    flex-direction: row;
    gap: 50px;
}
.choice{
    margin-top: 5px;
}



